<!DOCTYPE html>

{% extends 'forecast/base.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

<h1>{{award.title}}</h1>

  <hr>
  <table>

    <style> tr, td {padding:10px} </style>

    <tr>
      <td><a href='{% url 'forecast:country' country_name=award.MBIO_name %}'>{{award.MBIO_name}}</a></td>
    </tr>

    <tr>
      <td>Type: {{award.award_type}}</td>

      <style> button {color:#A1A021} </style>

      <form method='POST' action='{% url 'forecast:project' project_id=award.id %}'>
        {% csrf_token %}
      <td>{% bootstrap_form bool_form layout='inline' %}</td>
    </form>

    </tr>

    <tr>

      {% if award.details.NAICS_code != '-1' and award.details.NAICS_code != '' %}
      <td>NAICS: <a href='{% url 'forecast:NAICS' code=award.details.NAICS_code %}'>{{award.details.NAICS_code}}</a></td>
      {% else %}
      <td>NAICS: </td>
      {% endif %}

      {% if award.details.solicitation_number != '-1' %}
      <td>Solicitation #: {{award.details.solicitation_number}}</td>
      {% else %}
      <td>Solicitation #: </td>
      {% endif %}

    </tr>

    <tr>
      <td>Fiscal Year: {{award.timeframe.fiscal_year}}</td>
      <td>Contact: <a href='{% url 'forecast:specialist' award.specialist_id %}'>
          {{award.specialist.name}}</a></td>
    </tr>

    <tr>
      <td>Award Date: {{award.timeframe.ant_award_date}}</td>
      <td>Release Date: {{award.timeframe.ant_release_date}}</td>
    </tr>

  </table>
  <h4>Description: </h4>
  <p>
  {{award.details.description}}
  </p>

{% endblock %}
